
/* Fonts! */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.fatface {
    font-family: 'Abril Fatface', serif;
}
.righteous {
    font-family: 'Righteous', serif;
}
.raleway {
    font-family: 'Raleway', serif;
}

/* HTML Elements */
header {
    background-image: url('images/clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    
}
footer {
    background-image: url('images/clouds-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
body { 
    background-color: white;
    font-family: 'Raleway', serif;
}
p {
    color: black;
}
h3 {
    color: black;
}
a {
    color: #ffefe7;
}
a:hover {
    color: #ff9465;
}
.imgBackground {
    width: 100%;
    background-image: url('images/clouds-only.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 60px;
    border-radius: 3%;

}

/* Nav components! */
.nav-link {
    color: black;
}
.nav-link:hover {
    color: #ff9465;
    
}

/* Card components! */
.card {
    background-color: #fbf6f3;
}

/* Buttons! */
.btn {
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #085ca0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #d4ceca; 
}
.btn:hover {
    background-color: #ff9465;
}
.btn:active {
    background-color: #ff9465;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.sendbtn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #085ca0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999; 
}
.sendbtn:hover {
    background-color: #ff9465;
}
.sendbtn:active {
    background-color: #ff9465;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Animations! */
.breathe {
    animation: breathing 3s ease-out infinite normal;
}
@keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
}

.wiggle {
    animation: wiggle 2.5s infinite;
}
.hoverWiggle:hover {
    animation: wiggle 1s infinite;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}