
/* Fonts! */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.bigcinzel {
    font-family: 'Cinzel', serif;
    font-weight: 600;
}
.cinzel {
    font-family: 'Cinzel', serif;
    font-weight: 400;
}
.raleway {
    font-family: 'Raleway', serif;
}

/* HTML Elements */
header {
    background-image: url('images/clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;

}
footer {
    background-image: url('images/clouds-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body { 
    background-color: white;
    font-family: 'Raleway', serif;
}
p {
    color: rgb(58,42,29);
}
h3 {
    color: #362c28;
}
a {
    color: #ffefe7;
}
a:hover {
    color: #ff9465;
}

/* Nav components! */
.nav-link {
    color: black;
}
.nav-link:hover {
    color: #ff9465;
    
}

/* Buttons! */
.btn {
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999; 
}
.btn:hover {
    background-color: #3e8e41;
}
.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.sendbtn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999; 
}
.sendbtn:hover {
    background-color: #3e8e41;
}
.sendbtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.card {
    background-color: rgb(153,157,116);
}


/* Animations! */
.breathe {
    animation: breathing 3s ease-out infinite normal;
}
@keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
}

.wiggle {
    animation: wiggle 2.5s infinite;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}