body{ /*overall background color and font theme*/
    background-color: black;
    font-family: cursive;
}
h1{ /*aligns text in the center and formats the size and color*/
    text-align: center;
    color: white;
    text-decoration: underline;
    text-decoration: bold;
    font-size: 40px;
}
h2{ /*aligns text in the center and formats the size and color*/
    text-align: center;
    color: teal;
    font-size: 25px;
}
h3 { /*aligns text in the center and formats the size and color*/
    text-align: center;
    color: teal;
    padding-left: 18px;
}
img { /*gave my img a border and changed the size and placement*/
    border-radius: 50%;
    display: block;
    margin: auto;
    height: 350px;
    width: 275px;
    border-style: solid;
    border-width: 10px;
    border-color: teal;
}
p{ /*makes the paragraphs white color*/
    color: white;
    text-align: center;
}
li { /*formating the list information*/
    color: rgb(125, 255, 255);
    font-size: 15px;

}
footer{ /*this makes the footer teal and 50px high*/
    background-color: yellow;
    width: 100%;
    height: 50px;
}
.contactlist{ /*this removes the bullets or numbers from a list*/
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.contactlinks{ /*this puts the contact links in a single line*/
    display: inline;
    margin: 15px 10% 15px 10%;
}
a:link { /*this makes links look yellow*/
    color: yellow;
}
a:visited { /*this makes visited links look red*/
    color: red;
}
img:hover { /*this makes it when your mouseover the image it looks red! */
    border-color: red;
}
h2:hover { /*this makes it when your mouseover h2 it looks red! */
    color: red;
}
h3:hover { /*this makes it when your mouseover h3 it looks red! */
    color: red;
}